# Introducing Python Workshop #
### Session III - Data Analysis using Pandas ###


Pandas library is a central component of the data science toolkit in python. It is built on top of the NumPy package. Hence, NumPy data structures can be replicated in Pandas. Data in pandas is often then fed into other data analysis packages such as SciPy for statistical analysis, Scikit-learn for machine learning and Matplotlib for visualization. 

The first thing to do is to install Pandas library and import it.

In [ ]:
import pandas as pd
import numpy as np

<br>

__Importing Data in Pandas__

With Pandas we can read data from excel, CSV, JSON and SQL database. Since our data is in csv, we will use the method __.read_csv()__ and assign it to variable "df". We can use __.head()__ to view the first 5 rows of our dataset. __.tail()__ outputs the last five rows of the dataset. These functions also accept numbers inside the parenthesis to specify the number of rows to output.

In [ ]:
df = pd.read_csv('companies_by_revenue.csv', skip_blank_lines=False)
df.head()

<br>

NOTE: If you have not saved this csv file from before then you can use the code from webscrapping example. You can remove the last two lines, where the data is saved as csv. Instead, you can convert the dictionary-"mytable_dict" into Pandas dataframe directly.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# request data from website and store in a variable
website_url = requests.get("https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue")
website_content = website_url.text

# convert data to soup object for easy html parsing
soup = BeautifulSoup(website_content, "lxml")
my_table = soup.find( 'table', {'class':'wikitable sortable'} )

# parse the table and convert to Python dictionary
mytable_dict = { 'Rank':[], 'Name':[], 'Industry':[], 'Revenue':[], 'Profit':[], 'Employees':[], 'Country':[] }

for eachrow in my_table('tr')[2:]:
    cells = eachrow(['th', 'td'])
    
    mytable_dict['Rank'].append( cells[0].find(text=True).strip() )
    mytable_dict['Name'].append( cells[1].find(text=True).strip() )
    mytable_dict['Industry'].append( cells[2].find(text=True).strip() )
    mytable_dict['Revenue'].append( cells[3].text )
    mytable_dict['Employees'].append( cells[5].find(text=True).strip() )
    
    mytable_dict['Profit'].append( cells[4].text )
    mytable_dict['Country'].append( cells[6].select('.flagicon > a')[0].get('title') )
    
df = pd.DataFrame(mytable_dict)
df.head()

<br>

Now, the variable "df" refers to Pandas core data structure called __Pandas dataframe__. The individual columns inside the dataframe is another Pandas core data structure called __Pandas series__.

In [ ]:
print( type(df) )
print( type(df['Employees']) )
print( type(df['Revenue']) )

<br>

We can check the type of the values of each column using __.info()__ method. Note that all columns except "Rank" is identified as object. Everything in pandas is an object like in Python and they can be converted to string, integer or float as appropriate.

In [ ]:
df.info()

<br>

Pandas has a useful attribute __.shape__ that outputs the dimension of the dataframe. In our case, the dataset has 50 rows and seven columns.

In [ ]:
df.shape

<br>

__Indexing in Pandas__

There are many ways to index rows and columns in Pandas. Pandas object have index assigned to them. We can also set our own index using the __.index__ method. Here, we will convert the column "Rank" into string and set it as the index.

In [ ]:
# convert Rank from type object to string and assign it as index of df
df.index = df['Rank'].astype(str)

print(df.index)                    
df.head()

<br> 

Both Pandas dataframe and pandas series can be indexed using the __index operator [ ]__. We can index by 
- column name, which has to be inside quotes, or 
- index number, which is similar to indexing a Python List or
- index label, if the assigned index is a string. 

Index number must be an integer and it starts from 0. Index labels must be written inside quotes as well. 

In our first example, we will index the column "Employees" using column name and assign it to variable "employees".

In [ ]:
employees = df['Employees']     # indexing "Employees" columns from dataframe by using columns name as index
employees

<br>

The variable "employees" is now a Pandas series and can be indexed using index number and index label since our index is a string object.

In [ ]:
print( employees[5])            # indexing Pandas series "employees" by using index number
print( employees['1'])          # indexing Pandas series "employees" by using index label

<br>In order to index rows and columns in the dataframe in a similar manner __.iloc__ or __.loc__ method can be used. Index number is used with .iloc and if the assigned index is a string, the index label is used with .loc.

In [ ]:
print(df.iloc[5])               # indexing dataframe by using iloc and index number
print( '\n-------------------------------\n')
print(df.loc['1'])              # indexing dataframe by using loc and index label

<br>

__Slicing__

Colon __: operator__ can also be used inside the square brackets [ ] to index (or slice) more than one element using index numbers.

In [ ]:
print( employees[0:5])         # indexing Pandas series "employees" by using index numbers with :

In [ ]:
print(df.iloc[0:3])            # indexing Pandas dataframe by using iloc and index numbers with :

<br>

When indexing for more than one element using column name or index label, __double square brackets__ are required and each string must be separated by comma.

In [ ]:
print( df[['Name', 'Profit']] )      # indexing dataframe by column names

In [ ]:
print( employees[['1','2','3','4', '5']] )    # indexing Pandas series by using index labels

In [ ]:
print( df.loc[['1','2','3','4']] )            # indexing Pandas dataframe by using loc and index numbers with ,

<br>
Both rows and columns can be indexed at once by separating them with comma. Right-hand side of the comma is for rows and left-hand side is for columns.

In [ ]:
df.loc[['1','2','3'], ['Name', 'Country']]   # Select both rows and columns at the same time used index label and column names

In [ ]:
df.iloc[1:4, :]                             # Select all columns of second to fourth rows

<br>

__Filtering__

Dataframe can also be indexed using booleans. With boolean indexing, we must pass an array or series of True False values.

In [ ]:
idx = df['Country'] == 'United States'

print( list(idx) )
df.loc[idx, ['Name', 'Rank']]

In [ ]:
df.loc[(df['Industry'] == 'Retail') | (df['Industry'] == 'Commodities'), ['Name', 'Rank']]   # OR operation

In [ ]:
df.loc[(df['Employees'] > 1000000) & (df['Employees'] <= 2000000), ['Name', 'Rank']]        # AND operation

<br>

__Changing Data Types__

The method __.str.replace__ can be used to replace any character from a string. Then the method __astype__ can be used to convert numeric strings into integer or float.

In [ ]:
df['Employees'] = df['Employees'].str.replace(',', '')
df['Employees'] = df['Employees'].astype(int)

df.head()

In [ ]:
df.loc[(df['Employees'] > 1000000) & (df['Employees'] <= 2000000), ['Name', 'Rank']]

<br>
Multiple strings can be replaced at once and string replacement and type conversion steps can also be combined together.

In [ ]:
df['Revenue'] = df['Revenue'].str.replace('$','').str.replace(',','')
df['Profit'] = df['Profit'].str.replace('$','').str.replace(',','')
df[['Revenue','Profit']] = df[['Revenue','Profit']].apply(pd.to_numeric)
df.head()

<br>

__Math operations__

In [ ]:
max_employee = df['Employees'].max()
min_employee = df['Employees'].min()

max_revenue = df['Revenue'].max()
min_revenue = df['Revenue'].min()

print(max_employee, min_employee, max_revenue, min_revenue)

In [ ]:
df.describe()

In [ ]:
avg_nemp = df['Employees'].mean()
print(type(avg_nemp))

<br>

__Column Names__

The attribute __.columns__ lists all the column names of the dataframe. It can also be used to assign column names.

In [ ]:
df.columns

In [ ]:
df.columns = [col.lower() for col in df]
df.columns

<br>

__Dropping columns__

In [ ]:
df.drop(['rank'], inplace=True, axis=1)
df.head()

<br>

__Resetting Index__

In [ ]:
df = df.reset_index()
df.head()

<br>

__Creating a new column__

In [ ]:
df['rev_per_emp'] = df['revenue'] / df['employees']
new_df = df.sort_values('rev_per_emp', ascending=False)
new_df.head()

In [ ]:
new_df = new_df.round({"rev_per_emp":2}) 
new_df.head()

<br>

__Missing Values__

We do not have null values in our dataset. However, its a common issue when working with data. We can check for null values using __.isnull()__ method.

To delete any rows with at least a single null value, we can use__.dropna()__ method. This will return a new dataframe without altering the original one unless we set __inplace=True__ argument inside parenthesis. To drop columns with missing values instead, we have to set __axis=1__ inside parenthesis.

In [ ]:
df.isnull()

In [ ]:
df.dropna()

<br>

__Aggregating and Grouping in Pandas__

__.value_counts()__ is a popular method to get frequency of all values in a column.

In [ ]:
df['country'].value_counts()

__.groupby()__ method can be used to get frequencies and other mathematical operations based on one or more columns.

In [ ]:
group_by_country = df.groupby(['country'])['revenue']
country_avg =  group_by_country.mean()

print(country_avg)

In [ ]:
group_by_country = df.groupby(['industry', 'country'])['employees']
max_employee =  group_by_country.max()

print(max_employee)

<br>

__Applying Functions to Pandas column__

In [ ]:
def region(country):

    Asia = ['China', 'Japan', 'Singapore', 'South Korea', 'Taiwan', 'Russia']
    Europe = ['Switzerland', 'United Kingdom', 'Netherlands', 'Italy', 'Germany', 'France']
    North_America = ['United States']

    if country in Asia:
        Region = 'Asia'
    elif country in Europe:
        Region = 'Europe'
    elif country in North_America:
        Region = 'North America'
    else:
        Region = 'Nan'
        
    return Region

df['region'] = df['country'].apply(region)
df.head()

<br>

__Visualizing in Pandas__

In [ ]:
df['industry'].value_counts().sort_values(ascending=False).plot.bar()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.figure(figsize=(10, 5))
df.groupby('country').revenue.mean().sort_values(ascending=False).plot.bar()
plt.xticks(rotation=45, fontsize='x-large')
plt.show()

In [ ]:
import seaborn as sns

chart = sns.catplot(
    data=df[df['industry'].isin(['Financials', 'Oil and gas', 'Automotive'])],
    x='region',
    kind='count',
    palette='Set1',
    col='industry',
    aspect=1,
)
chart.set_xticklabels(rotation=65, horizontalalignment='right')